@model NagaBugTracking.Models.Bug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Open)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Open)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Component)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Component)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reporter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reporter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeverityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeverityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEdited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEdited)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
